input[type=text], input[type=password],input[type=email],textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #eaeaea;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
    outline: none;
}
hr {
    border: 1px solid #eaeaea;
}
.comment_head_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.comment_head_div hr{
    border: 1px solid black;
    width:100px;
    height: 1px;
}
.comment_head{
    display: block;
}
.comment_head::after,.comment_head::before{
    content:'';
    padding: 10px;
}