#newsletter h1{
    padding-bottom: 20px;
}
#newsletter{
    padding: 20px;
    border:none;
    border-radius: 10px;
    background-color: white;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }
input[type=text]:focus, input[type=email]:focus {
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.con hr{
    border: 1px solid black;
    margin-bottom: 10px;
    width:100px;
    height: 1px;
}
.contact_head{
    display: block;
}
.contact_head::after,.contact_head::before{
    content:'';
    padding: 10px;
}