.section_games div{
    align-items: center;
    display: flex;
}
#points{
    display:none;
    font-weight: 600;
    margin-left: 400px;
    margin-right: -400px;
}
#badge{
    display:none;
    height: 100px;
    width: auto;
    position: relative;
    color: white;
    border-radius: 10px;
    font-size: 50px!important;
    font-weight: 600;
    padding: 12px;
    left: 38.75%;
    background-color:gold;
}
.button_div{
    width: 100%;
    justify-content: center;
}
.section_games button{
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.contact hr{
    border: 1px solid black;
    width:100px;
    height: 1px;
}
.contact_head{
    display: block;
}
.contact_head::after,.contact_head::before{
    content:'';
    padding: 10px;
}