.section_games{
    height: 95vh;
    background-image: url("img/OIP6.jpg");
    background-position: center;
    color: #ffffff;
}
.section_games{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#points{
    display:none;
    font-weight: 800;
}
#badge{
    display:none;
    height: 100px;
    width: auto;
    position: relative;
    color: #ffffff;
    border-radius: 10px;
    font-size: 50px!important;
    font-weight: 600;
    padding: 12px;
    background-color:#ffd700;
    border: 1px solid #ffffff;
    box-shadow: 1px 2px 4px #ffffff80 ;
}
.button_div{
    width: 100%;
    justify-content: center;
}
.section_games button{
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
}

.playgame_head_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.playgame_head_div hr{
    border: 1px solid #ffffff;
    width:100px;
    height: 1px;
}
.playgame_head{
    display: block;
}
.playgame_head::after,.playgame_head::before{
    content:'';
    padding: 10px;
}