* {
box-sizing: border-box;
}

.container {
    background-color: white;
}

.form-container {
    text-align:justify;
}

input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.registerbtn {
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.8;
}

.registerbtn:hover {
opacity: 1;
background-color: cornflowerblue;
}

a {
color: dodgerblue;
}

.signin {
text-align: center

}
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    padding: 10px;
}

.form-container{
    justify-content: center;
    align-items: center;
}

.con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.con hr{
    margin-top: 30px;
    border: 1px solid black;
    width:100px;
    height: 1px;
}
.contact_head{
    display: block;
}
.contact_head::after,.contact_head::before{
    content:'';
    padding: 10px;
}